body {
    margin: 20px;
}

.container {
    max-width: 1200px;
}

.table td,
.table th {
    vertical-align: middle;
}

.remaining {
    text-align: right;
    font-weight: bold;
}

@media (max-width: 576px) {
    .form-row .form-group {
        margin-bottom: 15px;
    }
}
